block customizedHead
    include ../www/view-partial/slim-head.html
block customizedHeader
    div#my-header(ng-controller="AppCtrl", style="margin-bottom: 80px;")
        include ../www/view-partial/header.html
block customizedFooter
    div#my-footer
        include ../www/view-partial/footer.html
        script(type="text/javascript", src="#{cdn.normal}bower/angular-ui-router/release/angular-ui-router.min.js?#{cdn.version}")
        script(type="text/javascript", src="#{cdn.normal}js/page/opportunity-detail/menuDirective.js?#{cdn.version}")
        script(type="text/javascript", src="#{cdn.normal}js/controllers/OpdMenuCtrl.js?#{cdn.version}")
        script(type="text/javascript", src="#{cdn.normal}js/page/opportunity-detail/widget/competitiveness/competitiveDirective.js?#{cdn.version}")
        script(type="text/javascript", src="#{cdn.normal}js/page/study-center/controllers.js?#{cdn.version}")
        script(type="text/javascript").
            angular.module('studyCenterModule', ['bplusModule', 'ui.router'])
                    .config(['$stateProvider', '$urlRouterProvider', function ($stateProvider, $urlRouterProvider) {
                        var states = ['study-plan', 'fav', 'course'];

                        $urlRouterProvider.otherwise('/' + states[0]);

                        for (var i = 0; i < states.length; i++) {
                            var state = states[i];

                            $stateProvider
                                    .state(state, {
                                        url: '/' + state,
                                        templateUrl: state + '.html'
                                    });
                        }
                    }])
                    .directive('bopdmenu', angular.bplus.leftColumnMenu)
                    .directive('bopdcompetitiveness', angular.bplus.bopdcompetitiveness)
                    .controller('OpdMenuCtrl', angular.bplus.OpdMenuCtrl)
                    .controller('StudyCtrl', ['$scope', function ($scope) {
                        $scope.menus = [{
                            text: '我的学习计划',
                            href: '#/study-plan',
                            icon: 'file text outline',
                            states: ['study-plan']
                        }, {
                            text: '我的收藏',
                            href: '#/fav',
                            icon: 'bookmark',
                            states: ['fav']
                        }, {
                            text: '我的课程',
                            href: '#/course',
                            icon: 'book',
                            states: ['course']
                        }];
                    }])
                    .controller('UnfinishedCoursesCtrl', angular.bplus.UnfinishedCoursesCtrl)
            ;

            angular.element(document).ready(function () {
                angular.bootstrap(document.getElementById('my-header'), ['bplusModule']);
                angular.bootstrap(document.getElementById('my-footer'), ['bplusModule']);
            });
        include ../www/view-partial/external-js.html

block content
    div(class="ui grid container", ng-app="studyCenterModule")
        div(class="four wide column", ng-controller="StudyCtrl")
            bopdmenu
        div(class="twelve wide column")
            include course-table
            div(ui-view="")
            script(type="text/ng-template", id="study-plan.html")
                div Study Plan
            script(type="text/ng-template", id="fav.html")
                div Fav
            script(type="text/ng-template", id="course.html")
                div.b-opd-favorite
                    div(class="ui top attached tabular menu")
                        a(class="active item", data-tab="unfinished-courses") 未完成的课程
                        a(class="item", data-tab="finished-courses")  已完成的课程
                    div(class="ui bottom attached active tab segment b-opd-body", data-tab="unfinished-courses", style="background: transparent;", ng-controller="UnfinishedCoursesCtrl")
                        + unfinishedCourseTable('courses')
                        div(class="ui horizontal divider")
                        + sticky
                    div(class="ui bottom attached tab segment b-opd-body", data-tab="finished-courses", style="background: transparent;", ng-controller="UnfinishedCoursesCtrl")
                        + finishedCourseTable('courses')
                        div(class="ui horizontal divider")
                        + sticky
                script(type="text/javascript").
                    angular.element(document).ready(function () {
                        $('.tabular.menu .item')
                                .tab()
                        ;

                        $('.dimmable')
                                .dimmer({
                                    opacity: 0.5
                                })
                                .dimmer('set opacity', 0.5)
                        ;

                        $('.ui.sticky')
                                .sticky({
                                    context: '.tab'
                                })
                        ;
                    });
