block content
    div.corp-cv(ng-controller="cvCtrl")
        div.ui.ten.column.centered.grid
            div.row
                div.ten.wide.column
                    div.ui.top.attached.tabular.menu.tabular-menu
                        a.active.item.menu-item(data-tab="delivered" ng-click="tabmemuClick(STATIC_PARAM.DELIVERED)") 
                            img.ui.right.spaced.image.menu-item-image(src="#{cdn.normal}img/corp/cv_menu1.png?#{cdn.version}")
                            | 待处理的简历
                        a.menu-item.item(data-tab="interested" ng-click="tabmemuClick(STATIC_PARAM.INTERESTED)")
                            img.ui.right.spaced.image.menu-item-image(src="#{cdn.normal}img/corp/cv_menu2.png?#{cdn.version}")
                            | 有意向的简历
                        a.menu-item-lonely.item(data-tab="deleted" ng-click="tabmemuClick(STATIC_PARAM.DELETED)")
                            img.ui.right.spaced.image.menu-item-image(src="#{cdn.normal}img/corp/cv_menudelete.png?#{cdn.version}")
                            | 已删除的简历
                    div.ui.middle.attached.segment.segment-bottom-shadow.segment-menu
                        span.inline-space 职位
                        div.ui.form.inline-block.inline-space
                            select.ui.compact.dropdown.dropdown-inline(name="select",ng-model="option.type")
                                option(value="") 全部职位
                                option(value="a1") 金融
                                option(value="a2") IT
                                option(value="a3") 医药
                        div.ui.checkbox.inline-block.inline-space.option-win
                            input(type="checkbox",name="win")
                            label 大赛优胜
                        div.ui.checkbox.inline-block.inline-space.option-match
                            input(type="checkbox",name="match")
                            label 高匹配度
                    div.ui.active.tab.cv-list-tab(data-tab="delivered")
                        corp-cv-list(ng-if="displayData.currentTab===STATIC_PARAM.DELIVERED")
                    div.ui.tab.cv-list-tab(data-tab="interested")
                        corp-cv-list(ng-if="displayData.currentTab===STATIC_PARAM.INTERESTED")
                    div.ui.tab.cv-list-tab(data-tab="deleted")
                        corp-cv-list(ng-if="displayData.currentTab===STATIC_PARAM.DELETED")
                    //- the last segment will have no margin-bottom according to semantic-ui. Add an empty div to avoid it.
                    div
block extraJs
    script(src="#{cdn.normal}js/page/corp/cv/main.js?#{cdn.version}")
