mixin fileInput()
    input(type="file", style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; z-index: 100; padding-left: 2000px; cursor: pointer; border: none; outline: none;", accept=".png,.gif,.jpeg,.jpg", fileread="basicInfo.avatar", file-changed-handler="fileChanged")

block content
    link(rel="stylesheet", type="text/css", href="#{cdn.normal}css/module/form.css?#{cdn.version}")

    div.ui.container.crop-edit-container(corp-edit)
        div.ui.top.aligned.grid
            div.four.wide.column
                div.ui.vertical.segment(ng-class="{'loading': uploading}",style="position: relative; overflow: hidden;")
                    div.logo-container
                        div.ui.fluid.image.circular(style="background-color: #31373e;")
                            img(style="width: 100%; height:100%;", ng-src="{{avatarUrl ? avatarUrl : \'#{cdnify('/img/anonymous_default.png')}\'}}")
                            + fileInput
                    div.ui.red.button.btn-logo-upload(style="position: relative;")
                        i.icon
                        span 公司LOGO上传
                        + fileInput
            div.twelve.wide.column
                div.corp-edit-section
                    div.title(ng-click="showAccountInfo = !showAccountInfo")
                        h2.ui.medium.header
                            i.account-info-icon.icon
                            div.content 账户信息
                    div.form-container.account-info-form-container(ng-if="showAccountInfo")
                        form.ui.form(form-username, ng-class="{'loading': loadingSSO}")
                            div.field
                                label 用户名修改
                                input(type="text", name="username", data-prompt="请输入用户名", ng-model="ssoInfo.username")
                                button(type="submit")
                        form.ui.form
                            div.field
                                label 密码修改
                                input(type="password", name="password", readonly, value="*********")
                                i.icon(ng-click="modalPassword()")
                            div.field
                                label 手机绑定
                                input(type="text", name="telephone", readonly, ng-model="corpProfile.contact_mobile")
                                i.icon(ng-click="modalTelephone()")
                        form.ui.form(form-email, ng-submit="changeEmail()", ng-class="{'loading': changingEmail}")
                            div.field
                                label 邮箱绑定
                                input(type="text", name="email", data-prompt="请输入正确的邮箱地址", ng-model="corpProfile.contact_mail")
                                button(type="submit")
                div.corp-edit-section
                    div.title(ng-click="showBasicInfo = !showBasicInfo")
                        h2.ui.medium.header
                            i.basic-info-icon.icon
                            div.content 基本信息
                    div.form-container(ng-if="showBasicInfo")
                        form.ui.form(name="corpBasicInfoForm", ng-submit="saveCorpBasicInfo()", ng-class="{'loading': savingCorpBasicProfile}")
                            div.field
                                label 公司名称
                                input(type="text", name="corporation", readonly, disabled="disabled", ng-model="corpProfile.name")
                            div.field
                                label 行业
                                div.ui.fluid.search.special.selection.dropdown(combine-box)
                                    input(type="hidden", name="industry", ng-model="corpProfile.industry")
                                    i.dropdown.icon
                                    div.default.text 请选择...
                                    div.menu
                                        div.item(data-value="1") 选项一
                                        div.item(data-value="2") 选项二
                                        div.item(data-value="3") 选项三
                                        div.item(data-value="4") 选项四
                                        div.item(data-value="5") 选项五
                            div.field
                                label 规模
                                div.ui.fluid.search.special.selection.dropdown(combine-box)
                                    input(type="hidden", name="scale", ng-model="corpProfile.scale")
                                    i.dropdown.icon
                                    div.default.text 请选择...
                                    div.menu
                                        div.item(data-value="1") 选项一
                                        div.item(data-value="2") 选项二
                                        div.item(data-value="3") 选项三
                                        div.item(data-value="4") 选项四
                                        div.item(data-value="5") 选项五
                            div.field
                                label 性质
                                div.ui.fluid.search.special.selection.dropdown(combine-box)
                                    input(type="hidden", name="nature_of_firms", ng-model="corpProfile.nature_of_firms")
                                    i.dropdown.icon.nature-of-firms-icon
                                    div.default.text 请选择...
                                    div.menu
                                        div.item(data-value="1") 选项一
                                        div.item(data-value="2") 选项二
                                        div.item(data-value="3") 选项三
                                        div.item(data-value="4") 选项四
                                        div.item(data-value="5") 选项五
                            div.field
                                label 主页
                                input(type="text", name="homepage", ng-model="corpProfile.website")
                            div.field
                                label 地点
                                input(type="text", name="address", ng-model="corpProfile.location")
                            div.field
                                label 联系人
                                input(class="contact-input", type="text", name="contact", ng-model="corpProfile.contact")
                                div.ui.selection.dropdown.contact-select(selection-dropdown)
                                    input(type="hidden", name="contact_gender", ng-model="corpProfile.contact_gender", value="U")
                                    i.dropdown.icon
                                    div.text --
                                    div.menu
                                        div.item(data-value="U") --
                                        div.item(data-value="M") 先生
                                        div.item(data-value="F") 女士
                            div.field
                                label 职位
                                input(type="text", name="position", ng-model="corpProfile.contact_position")
                            div.field
                                button.ui.red.button(type="submit") 保存
                                div.ui.basic.button(type="reset") 取消
                div.corp-edit-section
                    div.title(ng-click="showCompanyInfo = !showCompanyInfo")
                        h2.ui.medium.header
                            i.company-info-icon.icon
                            div.content 公司介绍
                    div.form-container(ng-if="showCompanyInfo")
                        form.ui.form(name="descriptionForm", ng-submit="saveCorpDescription()", ng-class="{'loading': savingCorpDescription}")
                            div.field
                                label 一句话公司宣传标语
                                input(type="text", name="slogan", value="全球企业间(B2B)电子商务的著名品牌")
                            div.field
                                label 公司简介
                                textarea(name="description", rows="5", ng-model="corpProfile.abstraction")
                                div.ui.bottom.attached.segment
                                    div.inline.field
                                        label
                                            i.tags.icon
                                            span 标签
                                        input(type="text", name="tags", ng-model="corpProfile.tags")
                            div.field
                                button.ui.red.button(type="submit") 保存
                                div.ui.basic.button(type="reset") 取消
    div.ui.modal.modal-password(modal-password)
        div.header 修改密码
            div.btn-close
                i.close.icon
        div.content
            form.ui.form(name="changePasswordForm", ng-submit="changePassword()")
                form-error
                div.field
                    div.ui.left.icon.input.fluid
                        i.lock.icon
                        input(type="password", name="oldPassword", placeholder="请输入原来密码", ng-model="changePasswordData.oldPassword")
                div.field
                    div.ui.left.icon.input.fluid
                        i.lock.icon
                        input(type="password", name="newPassword", placeholder="重新设置新密码", data-prompt="与原来密码一致，无需修改", ng-model="changePasswordData.newPassword")
                div.field
                    div.ui.left.icon.input.fluid
                        i.lock.icon
                        input(type="password", name="reEnterPassword", placeholder="再次输入新密码", data-prompt="两次输入的密码不一致" ng-model="changePasswordData.newPassword2")
                div.field.btn-container
                    button.fluid.ui.red.button(ng-class="{'disabled': !changePasswordForm.$valid}") 完成
    div.ui.modal.modal-telephone(modal-telephone)
        div.header 修改手机
            div.btn-close
                i.close.icon
        div.content
            form.ui.form(name="changeMobileForm", ng-submit="changeMobile()", ng-class="{'error': (errorMessages || scope.errorMessages || $root.errorMessages).length}")
                form-error
                div.field
                    div.ui.left.icon.input.fluid
                        i.phone.icon
                        input(type="text", name="telephone", placeholder="请输入手机号码", ng-model="changeMobileData.mobile")
                div.field
                    div.ui.grid.CAPTCHA-grid
                        div.ui.eleven.wide.column
                            div.ui.left.icon.input.fluid
                                i.write.icon
                                input(type="text", name="CAPTCHA", placeholder="请输入图形验证", ng-model="changeMobileData.captcha", maxlength="4")
                        div.ui.five.wide.column
                            div(captcha="", ng-model="changeMobileData.captchaId", style="height: 42px; cursor: pointer; float: right;", autocomplete="off")
                            a(href="javascript:void(0);", ng-click="refreshCaptcha()") 换一张
                div.field.btn-container(ng-hide="verificationSent")
                    button.fluid.ui.red.button(ng-disabled="!changeMobileData.mobile || !changeMobileData.captcha", ng-click="sendVerificationCode()", ng-class="{'loading': sendingVerificationCode}") 获取手机验证码
                div.field(ng-show="verificationSent || true")
                    div.ui.left.icon.input.fluid
                        i.write.icon
                        input(type="text", name="verificationCode", placeholder="请输入手机验证码", ng-model="changeMobileData.verificationCode", autocomplete="off")
                        | &nbsp;
                        button.ui.red.button(type="button", resend-verification, ng-click="sendVerificationCode()", ng-class="{'loading': sendingVerificationCode}", ng-disabled="!changeMobileData.mobile || !changeMobileData.captcha") {{verificationCodeButtonText}}
                div.field.btn-container
                    div.ui.left.icon.input.fluid
                        i.lock.icon
                        input(type="password", name="password", placeholder="请输入登录密码", ng-model="changeMobileData.password")
                div.field
                    button.fluid.ui.red.button.disabled 完成
block extraJs
    script(src="#{cdn.normal}js/page/corp/edit/main.js?#{cdn.version}")
    script(src="#{cdn.normal}js/proxy/corp/service-error-parser.js?#{cdn.version}")
    script(src="#{cdn.normal}js/directives/form-error.js?#{cdn.version}")
    script(src="#{cdn.normal}js/common/validationPatterns.js?#{cdn.version}")
    script(src="#{cdn.normal}js/directives/resend-verification.js?#{cdn.version}")