div(class="ui b-header")
    div(class="ui menu b-header-account")
        div(class="ui container")
            div(class="right item")
                if typeof hcd_user !== 'undefined' && hcd_user.member_id
                    div(class="ui right dropdown b-profile item", ng-cloak="")
                        img(ng-src="{{memberInfo.avatar ? memberInfo.avatar + '-minor' : '#{cdn.normal}img/anonymous_default.png?#{cdn.version}'}}", class="ui circular image avatar")
                        span(class="ui button")
                            | {{memberInfo.displayName}}
                            i(class="large angle down icon")
                        div(class="ui inverted vertical center aligned b-profile menu")
                            img(ng-src="{{memberInfo.avatar ? memberInfo.avatar + '-small' : (memberInfo.gender.toString().toUpperCase() !== 'F' ? '#{cdn.normal}img/male_default.png?#{cdn.version}' : '#{cdn.normal}img/female_default.png?#{cdn.version}')}}", class="ui circular image avatar")
                            a(class="center aligned item", href="/profile") #{__('Profile')}
                            a(class="center aligned item", href="/account-setting") #{__('AccountSetting')}
                            a(class="center aligned item", ng-click="signOut()") #{__('SignOut')}
                else
                    a(href="/#login", class="ui button") #{__('SignIn')}
                    a(href="/#register", class="ui button") #{__('SignUp')}

                a(class="ui button", ng-href="#{otherLocaleLink}{{hash}}") #{__(otherLocale)}
    div(class="ui menu b-header-nav")
        div(class="ui container")
            a(href="/", class="b-header-logo")
                img(src="#{cdn.normal}img/logo.png?#{cdn.version}", height="60")
            div(class="right item")
                include header_nav