block content
    div(ng-app="corpModule")
        corp-sign-in-widget
    div.pusher
        include ../partial/carousel.html
block extraJs
    script(src="#{cdn.normal}bower/owl.carousel/dist/owl.carousel.js?#{cdn.version}")
    script(src="#{cdn.normal}js/view/widgets/carousel/carousel.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/corp/app.js?#{cdn.version}")
    script.