block content
    div.corp-cv(ng-controller="jobpostCtrl")
        | hello world
block extraJs
    //- script(src="#{cdn.normal}js/page/corp/directives/corpCVList.js?#{cdn.version}")
    //- script(src="#{cdn.normal}js/page/corp/directives/corpCVDetail.js?#{cdn.version}")
    script(src="#{cdn.normal}js/proxy/corp/main.js?#{cdn.version}")
    script(src="#{cdn.normal}js/proxy/corp/jobpost.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/corp/jobpost/main.js?#{cdn.version}")
    script.
        angular.module('bplusModule')
            .run(['$rootScope', function ($rootScope) {
                $rootScope.current_page = 'jobpost';
            }])
        ;