block content
    div.corp-cv(ng-controller="jobpostCtrl")
        | hello world
        div.head
            i
            | 基本职位信息
        div.body
            div 职位名称
            div
                input
            div 职位类别
            div
                input
            div 所属部门
            div
                input
            div 工作地点
            div
                input
            div 待遇
            div
                input
                input
                input
                input
        div.head
            i
            | 职位要求
            div 职位特色标语
            div
                input
            div 职位诱感
            div
                div
                input
            div 职位类别
            div 职位名称
            div
                input
            div 职位类别
block extraJs
    //- script(src="#{cdn.normal}js/page/corp/directives/corpCVList.js?#{cdn.version}")
    //- script(src="#{cdn.normal}js/page/corp/directives/corpCVDetail.js?#{cdn.version}")
    script(src="#{cdn.normal}js/proxy/corp/main.js?#{cdn.version}")
    script(src="#{cdn.normal}js/proxy/corp/jobpost.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/corp/jobpost/main.js?#{cdn.version}")
    script.
        angular.module('bplusModule')
            .run(['$rootScope', function ($rootScope) {
                $rootScope.current_page = 'jobpost';
            }])
        ;