block content
    div.corp-jobpost(ng-controller="jobpostCtrl")
        div.ui.eight.column.centered.grid
            div.eight.wide.column
                form.ui.error.form.corp-jobpost-form(nonvalidate)
                    div.ui.error.message 红框处必填字段未完成，请全部填写完成后按下保存
                        //- div.ui.top.attached.segment.segment-bottom-shadow.corp-jobpost-segment
                        //-     img.ui.right.spaced.image(ng-src="#{cdn.normal}img/corp/jobpost1.png?#{cdn.version}")
                        //-     span.corp-jobpost-header 基本职位信息
                        //- div.ui.middle.attached.segment.segment-bottom-shadow.corp-jobpost-dark-segment.corp-jobpost-segment
                        //-         div.field
                        //-             div.corp-jobpost-content-title.required-title 职位名称
                        //-             div.corp-jobpost-content-input-container
                        //-                 input(name="positionname",type="text")
                            //- div.corp-jobpost-content-title.required-title 职位类别
                            //- div.corp-jobpost-content-input-container
                            //-     input
                            //- div.corp-jobpost-content-title.required-title 所属部门
                            //- div.corp-jobpost-content-input-container
                            //-     input
                            //- div.corp-jobpost-content-title.required-title 工作地点
                            //- div.corp-jobpost-content-input-container
                            //-     input
                            //- div.corp-jobpost-content-title.required-title 待遇
                            //- div.corp-jobpost-content-input-container
                            //-     div.ui.four.field
                            //-         input
                            //-         input
                            //-         span 元 ----
                            //-         input
                    //- div.ui.middle.attached.segment.segment-bottom-shadow.corp-jobpost-segment
                    //-     img.ui.right.spaced.image(ng-src="#{cdn.normal}img/corp/jobpost2.png?#{cdn.version}")
                    //-     span 职位要求
                    //- div.ui.middle.attached.segment.segment-bottom-shadow.corp-jobpost-dark-segment.corp-jobpost-segment
                    //-     div 职位特色标语
                    //-     div.corp-jobpost-content-input-container
                    //-         input.corp-jobpost-content-input-normal
                    //-     div 职位诱感
                    //-     div.corp-jobpost-content-input-container
                    //-         div
                    //-             i
                    //-             | 标签
                    //-         input.corp-jobpost-content-input-normal
                    //-     div.corp-jobpost-content-title.required-title 任职资格要求
                    //-     div.corp-jobpost-content-input-container
                    //-         div
                    //-             i
                    //-             | 标签
                    //-         input.corp-jobpost-content-input-normal
                    //-     div.corp-jobpost-content-title.required-title 职位描述
                    //-     div.corp-jobpost-content-input-container
                    //-         textarea
                    //-     div.corp-jobpost-content-title.required-title 招募截止日期
                    //-         input
                    //-         span 年
                    //-         input
                    //-         span 月
                    //-         input
                    //-         span 日
                    //- div
                    div.ui.blue.submit.button submit
                        //- div.ui.button
        div.ui.modal
            div 确认是否立即发布?( 注 : 发布后任何修改需要联系招聘顾问 )
            div
                button
block extraJs
    //- script(src="#{cdn.normal}js/page/corp/directives/corpCVList.js?#{cdn.version}")
    //- script(src="#{cdn.normal}js/page/corp/directives/corpCVDetail.js?#{cdn.version}")
    script(src="#{cdn.normal}js/proxy/corp/main.js?#{cdn.version}")
    script(src="#{cdn.normal}js/proxy/corp/jobpost.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/corp/jobpost/main.js?#{cdn.version}")
    script.
        angular.module('bplusModule')
            .run(['$rootScope', function ($rootScope) {
                $rootScope.current_page = 'jobpost';
            }])
        ;