block content
    include ../../www/view-partial/head.html
    include ../partial/reset-password-by-email.html
block extraJs
    script.
        angular.element(document).ready(function () {
            angular.bootstrap(document.getElementById('corp-content'), ['resetPassword']);
        });
    script(src="#{cdn.normal}js/directives/captcha.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/reset-password/ResetPasswordByEmailCtrl.js?#{cdn.version}")
    script(src="#{cdn.normal}js/directives/registerForm.js?#{cdn.version}")
    script(src="#{cdn.normal}js/page/reset-password/main.js?#{cdn.version}")